body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.social-link a {
    color: #e0e0e0;
    font-size: 5rem;
    transition: color 0.3s;
}

.social-link a:hover {
    color: #1DA1F2; /* Twitter blue */
}